@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Open+Sans:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000000;

}
p {
    text-decoration: none;
}
a{
    text-decoration: none;
}
input, button {
    border: none;
    background: none;
    outline: none;
}
.section_1 {
    background-image: url(../img/Background.png);
    width: 100%;
    height: 134vh;
    background-position: bottom center;
    background-size: cover;
}
header {
    margin: 0 auto;
    width: 95%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.nav a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-decoration: none;

}

.nav {
    justify-content: space-between;
    display: flex;
    width: 348px;
}

.logo p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.search img{
    margin-right: 14px;

}
.search input{
    width: 54px;
}


.text{
    width: 950px;
    margin: 190px auto;

}
.line{
    width: 72px;
    height: 1px;
    background: #FFC178;
}
.text_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 520px;
}
.text_top p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FFC178;
    }
.text h2{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 100px;
    color: #FFFFFF;
    }
    .text h2 span{
    font-weight: 400;
    font-size: 88px;
}
.scroll{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 120px;
    margin-top: 126px;
}
.scroll p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    }
.section-2{
    width: 100%;
    height: 80vh;
}
.img_text{
    width: 80%;
    margin: -200px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    width: 35%;
}
.left  img{
    width: 100%;
}
.right{
    width: 500px;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}
.line_text{
    display: flex;
    justify-content: space-between;
    width: 399px;
    align-items: center;
}
.line_text p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
}
.line{
    height: 2px;
    background: #FBD784;
    width: 72px;
}
.right h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;

    color: #FFFFFF;
}
.right p:nth-child(3){
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}
.scroll2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 128px;
}
.scroll2 a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #FBD784;
}
.section3{
    background-image:url(../img/image\ 2.png);
    width: 80%;
    height: 160vh;
    margin: 170px auto;
    background-position: center;
    background-size: cover;
    border: solid red;
}
.tex{
    width: 950px;
    margin: 190px auto;
    margin-top: 500px;
}

.tex_top{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 120px;
    margin-top: 20px;
}
.tex_top p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
}
.tex h2{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    text-align: center;
    color: #FFFFFF;
    
}
.bb p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
}
.scroll3{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 120px;
    margin-top: 20px;
}
.scroll3 a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #FBD784;
}