@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Open+Sans:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000000;

}
p {
    text-decoration: none;
}
a{
    text-decoration: none;
}
input, button {
    border: none;
    background: none;
    outline: none;
}
.section_1 {
    background-image: url(../img/Background.png);
    width: 100%;
    height: 134vh;
    background-position: bottom center;
    background-size: cover;
}
header {
    margin: 0 auto;
    width: 95%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-decoration: none;

}

.nav {
    justify-content: space-between;
    display: flex;
    width: 348px;
}

.logo p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.search1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88px;
}    
.search1 input{
    width: 55px;
}
.text{
    width: 950px;
    margin: 190px auto;

}
.line{
    width: 72px;
    height: 1px;
    background: #FFC178;
}
.text_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 520px;
}
.text_top p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FFC178;
    }
.text h2{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 100px;
    color: #FFFFFF;
    }
    .text h2 span{
    font-weight: 400;
    font-size: 88px;
}
.scroll{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 135px;
    margin-top: 126px;
}
.scroll p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    }
.section-2{
    width: 100%;
    height: 80vh;
}
.img_text{
    width: 80%;
    margin: -200px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    width: 35%;
}
.left  img{
    width: 100%;
}
.right{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.line_text{
    display: flex;
    justify-content: space-between;
    width: 399px;
    align-items: center;
}
.line_text p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
}
.line{
    height: 2px;
    background: #FBD784;
    width: 72px;
}
.right h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;

    color: #FFFFFF;
}
.right p:nth-child(3){
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    padding-top: 25px;
}
.scroll2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 135px;
    padding-top: 25px;
}
.scroll2 a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #FBD784;
}
.section3{
    background-image:url(../img/image\ 2.png);
    width: 80%;
    height: 100vh;
    margin: 170px auto;
    background-position: center;
    background-size: cover;
}
.tex{
    width: 950px;
    margin: 10px auto;
    padding-top: 210px;

}
   

.tex_top{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    margin-top: 20px;
}
.tex_top p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
}
.tex h2{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    text-align: center;
    color: #FFFFFF;
    
}
.bb p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
}
.scroll3{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 135px;
    margin-top: 20px;
}
.scroll3 a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #FBD784;
}
.line2{
    height: 3px;
    background: #FBD784;
    width: 82px;
}
.line3{
    height: 3px;
    background: #FBD784;
    width: 82px;
}

.section4{
    width: 100%;
    height: 80vh;
}
.img_tex{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;

}
.left2{
    width: 100%;
    height: 80vh;
    justify-content: space-between;
    align-items: center;
}
.left_tex{
    width: 420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.left_tex p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
}
.line4{
    height: 3px;
    background: #FBD784;
    width: 82px;
   
}
.left2 h2{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    color: #FFFFFF;
    padding-top: 25px;
}
.ss p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    padding-top: 25px;
}
.schrolll{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 135px;
    padding-top: 25px;
}
.schrolll a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #FBD784;
}
.indonesian{
    width: 80%;
}
.indonesian img{
    width: 35%;
    display: flex;
    margin: -48% auto;
    margin-left: 78%;
}
.footer_top{
    width: 80%;
    height: 345px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15%;
}
.footer_left p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF;
}
.footer_right{
    width: 490px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_right p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.3px;
    color: #FFFFFF;
}
.footer_right button{
    width: 240px;
    height: 69px;
    background: #FFA343;
    border-radius: 8px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    color: #000000;
}
.ll{
    width: 80%;
    height: 2px;
    background-color: grey;
    margin: 0 auto;
}
.footer_nav{
    width: 80%;
    margin: 0 auto;
    padding-top: 65px;
    display: flex;   
}
.footer_leftt{
    width: 450px;
}
.footer_leftt h3{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.3px;
    color: #FFFFFF;
}
.nav0{
    padding-top: 37px;
}
.nav0 input{
    width: 330px;
}
.nav0 button{
    width: 50px;
    height: 50px;
    background: #FFA343;
    border-radius: 8px 8px 0px 0px;

}
.footer_rightt{
    width: 60%;
    height: 200px;
    padding-top: 27px;
    display: flex;
    justify-content: space-around;
}

.footer_rightt p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 0px;
    letter-spacing: -0.231818px;
    color: #FFD1A0;
    height: 40px;
    display: flex;
    flex-direction: column;
}


.footer_rightt a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 0px;    
    letter-spacing: -0.204545px;
    color: #FFFFFF;
    height: 35px;
    display: flex;
    flex-direction: column;


}
.infoo_left p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;    
    letter-spacing: -0.204545px;
    color: #FFFFFF;
}
.infooo{
    width: 970px;
    height: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.infoo_left{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.infoo_right{
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.b p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}
.b{
    width: 444px;
    height: 140px;
    margin: 0 auto;
}
